<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>This site is created by <b>Shashank Tiwari</b>. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/IMG_6551.JPG" alt="Image load error">
    </div>
    {{>footers}}
</body>
</html>