<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>This is some helpful text.</p>
    </div>
    {{>footers}}
</body>
</html>